:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.message-box {
  border: solid 2px black;
  width: 80%;
  margin: 0 auto;
}

.post-card {
  border: solid 2px rgb(174, 174, 174);
  width: 80%;
  margin: 30px auto;
}

.post-metadata {
  color: rgb(174, 174, 174);
  border: none;
}

  .profile-picture {
    width: 100px;
    height: 100px;
    
  }

  .pale-grey-bg {
    background-color: #f5f5f5;
  }

  .text-dark a {
    color: black;
  }

  .custom-form {
    background-color: #efefef;
    padding: 15px;
    max-width: 500px; 
    width: 100%; 
    margin: 0 auto;
  }

  .custom-form #submit {
    background-color: black;
    border: 1px solid black;
    width: 80%;
    margin-bottom: 20px;;
  }

.reverse-btn {
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: rgb(9, 9, 9);
  }

  .feed {
    text-align: center;
  }

  .logout-btn {
    border-radius: 5px;
    border: none;
    background-color: black;
    color: rgb(239, 239, 239);
  }

  .profile-photo {
    width:100px;
    height: auto;
  }

  .feedpage {
    text-align: center;
  }
